{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<center>

    <h1 style=" font-size: 72px;
      background: -webkit-linear-gradient(#eee, #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;">{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
  </center>

{% endblock %}
