{% extends "base.html" %}
{% load staticfiles %}
{% load journey_nodes %}

{% block content %}

<div class = "container">
<h1>{{ user.username }}'s Profile</h1>
<h2>Number of Levels Completed: {{level}}</h2>
<p> List of all the levels. You can click on levels you are currently on or have completed.</p>
<ul>
{% get_regions as regions %}
{% for region in regions %}
    <li>{{region}}</li>
        <ul>
            {% for node in nodes %}
                {%if node.region == region %}
                    {% if node.pk <= level|add:"1" %}
                        <li><a href="/journey/tutorial/{{node.pk}}" id="node{{node.pk}}">{{node.name}}</a></li>
                    {% else %}
                         <li>{{node.name}}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
{% endfor %}
</ul>
</div>

{% endblock %}
